.details p {
  font-family: 'Roboto Serif', serif;
}
.details .title {
  font-size: 25px;
  font-weight: 600;
  margin: 0px;
  padding: 0%;
}

.details .inner-box {
  padding: 15px;
}

.details .rating-span {
  display: flex;
  padding: 5px 0px;
  align-items: center;
}

.details .included-text {
  margin-top: 10px;
}