.proWashContainer {
  background-color: white;
  margin: 2px 0;
}

.serviceOptionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px ;
  margin: 2px;
  border-radius: 5px;
  background-color: #d2e7ff;
}

.titleAndCost {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titleAndCost span {
  color: black;
}

#singleItemCost {
  color: gray;
}