.authenticator-root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #172b4d !important;
}

.authenticator-root .authenticator-card {
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.authenticator-card [data-amplify-authenticator] [data-amplify-router] {
  background-color: #fff;
  border: none;
  box-shadow: none;
}
