#brand-name {
  font-weight: 600;
  font-size: 1.5em;
}

#sign-up {
  padding: 10px;
  background-color: aliceblue;
  color: black;
  border-radius: 10%;
}

#login {
  padding: 10px;
}

.headerContainer p {
  color: aliceblue;
}

.headerContainer span {
  color: aliceblue;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background-color: black;
}

.left-container {
  flex: 1;
  justify-content: space-between;
  margin-left: 2em;
}


.right-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

